@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";



/* Gradient animation */

/* Apply background to the main container */
.app-container {
    min-height: 100vh;
    background: radial-gradient(circle at top, #25094a, #05000b);
    animation: gradientAnimation 10s infinite alternate;
    color: white;
}
